on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

name: SonarQube-Analysis
jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v7.0.0 # Updated to a secure, pinned version
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
      with:
        args: >
          -Dsonar.verbose=true
          "-Dsonar.projectKey=f5591ea897ac62332af7397236789b4c293c06e9"
          "-Dsonar.organization=treinamento-sonar"
